html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: var(--main-color);
}

p + p {
	margin-top: 1em;
}
