html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: var(--main-color);
}

p + p {
	margin-top: 1em;
}

.icon-title {
	display: inline-flex;
	column-gap: 10px;
	align-items: center;
	padding-inline: 20px;
	color: var(--primary-color);
	background-color: #f4f4f4;
	text-transform: capitalize;
	margin-bottom: 22px;
}
