.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.container.container-lg {
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-m {
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}
