@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2'),
		url('../fonts/Inter-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.woff2') format('woff2'),
		url('../fonts/Inter-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-BoldItalic.woff2') format('woff2'),
		url('../fonts/Inter-BoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-Regular.woff2') format('woff2'),
		url('../fonts/Mulish-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
