$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Russo One', sans-serif;

:root {
	--main-color: #7e7e7e;
	--accent: #ffb342;
	--primary-color: #1c2752;
	// --main-color-rgb: 33, 148, 255;
	// --main-bg-80: rgba(var(--main-color-rgb), 0.8);
}
