@use './base/mixins' as *;
.header {
	height: 158px;
}
.header-row {
	padding-top: 30px;
	padding-left: 11px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	@include m768() {
		flex-direction: column;
		row-gap: 35px;
	}
	@include m425() {
		padding-top: 10px;
		padding-left: 0;
		row-gap: 17px;
	}
	@include m360() {
		padding-top: 25px;
		margin-bottom: 0;
	}
}

.header-contacts {
	display: flex;
	gap: 76px;
	@include m425() {
		position: relative;
		flex-direction: column;
		row-gap: 20px;
		z-index: 1;
	}
}

.header-contacts__item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-btn {
	background-color: var(--primary-color);
}
