@use './base/mixins' as *;
.header {
	height: 158px;
}
.header-row {
	padding-top: 30px;
	padding-left: 11px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	@include m768() {
		flex-direction: column;
		row-gap: 35px;
	}
}

.header-contacts {
	display: flex;
	gap: 76px;
}

.header-contacts__item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-btn {
	background-color: var(--primary-color);
}
