@use './base/mixins' as *;
.input {
	padding: 20px 44px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	color: #000;

	transition: all 0.2s ease-in;

	&::placeholder {
		font-size: 17px;
		line-height: 1.58824;
		color: var(--primary-color);
	}

	// &:active,
	// &:focus {
	// 	box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.6);
	// }
}

.input-text {
	margin-bottom: 15px;
	resize: none;
	height: 150px;
}

.subscribe-input {
	width: 390px;
	padding: 20px 15px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 0;
	&::placeholder {
		font-size: 17px;
		line-height: 1.58824;
		color: #fff;
	}
	@include m375() {
		width: 300px;
	}
}
