@use './base/mixins' as *;

.price__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-bottom: 62px;
	@include m768() {
		grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
		justify-content: center;
		gap: 15px;
	}
}

.price-card {
	padding: 41px;
	padding-bottom: 50px;
	max-width: 380px;
	background: #fff;
	p + p {
		margin-top: 0;
	}
	@include m768() {
		margin: 0 auto;
		width: 100%;
	}
	@include m360() {
		max-width: 320px;
	}
}
.price-card__title {
	font-size: 20px;
	margin-bottom: 7px;
	color: var(--primary-color);
}
.price-card__inner {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding-bottom: 36px;
	margin-bottom: 29px;
	border-bottom: 1px solid #d7d7d7;
}
.card__price {
	font-family: 'Mulish', sans-serif;
	font-size: 32px;
	line-height: 1.1;
	color: var(--primary-color);
	@include m1024() {
		font-size: 21px;
	}
}
.price-card__desc {
	font-size: 15px;
	line-height: 1.6;
}
.card-items {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	margin-bottom: 55px;
}
.card__item {
	display: flex;
	align-items: center;
	gap: 12px;
	@include m1024() {
		font-size: 14px;
	}
}

.price-card__btn {
	width: 100%;
}
