@use './base/mixins' as *;

.project-card {
	padding: 21px;
	padding-bottom: 26px;
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	transition: transform 0.3s ease-in;

	h4 {
		color: var(--primary-color);
	}

	img {
		margin-bottom: 27px;
	}
	&:hover {
		transform: scale(1.03);
	}
}
.project__content {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 4px;
}

.project__cards-text {
	font-size: 17px;
	line-height: 1.58824;
}
