@use './base/mixins' as *;

.project-card {
	padding: 21px;
	padding-bottom: 26px;
	max-width: 320px;
	background-color: #fff;
	h4 {
		max-width: 247px;
		color: var(--primary-color);
	}

	img {
		margin-bottom: 27px;
	}
}
.project__content {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.project__cards-text {
	font-size: 17px;
	line-height: 1.58824;
}
