@use './base/mixins' as *;

.testimonial-form {
	padding: 70px 40px;
	padding-bottom: 65px;
	background: #f4f4f4;
	max-width: 564px;
	// width: 100%;
}
.testimonial-form__inputs {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.testimonial-btn {
	font-weight: 700;
	font-size: 17px;
	line-height: 1.58824;
}
