@use './base/mixins' as *;
.top-header {
	padding-block: 21px;
	background: #f2f2f2;
	color: var(--primary-color);
}

.top-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-header__clock {
	padding-left: 12px;
	font-size: 17px;
}

.social {
	display: flex;
	align-items: center;
	gap: 20px;
	@include m768() {
		display: none;
	}
}
